*{
    font-family: "Inter Tight", sans-serif;
}
header{
    background-color: #2C5273;
}
header span{
    color: #F2E6D8;
}
.nav-item a{
    color: #F2E6D8;
}
/*Para despues de visitar el menú vualva al mismo color*/
.nav-item a:visited{
    color: #F2E6D8;
}
.nav-item a:hover{
    color: #4E84A6;
}
#nav-buttom{
    background-color: #4E84A6;
}
.icon-habilidades{
    color: #4E84A6;
    font-size: 1.2em;
}
.img-proyecto1{
    background-image:  url('/imagen/clon-pinterest.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.img-proyecto1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
    pointer-events: none; 
}
.img-proyecto1 .d-flex.flex-column {
    position: relative;
    z-index: 2; 
}
footer{
    background-color: #4E84A6;
}
footer .icon-footer i{
    font-size: 2rem;
    color: #F2E6D8;
}
footer p{
    color: #F2E6D8;
}
footer p a{
    color: #F2E6D8;
}

/*escribir url
.img-proyecto{
    background-image: url();
    background: rgba(76, 175, 80, 0.3)
}*/
